// Body

$body-bg: #2ea9be;
$body-color: #fff;

// Fonts

$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size: 1rem;
$font-weight: normal;
$line-height: 1.5;