// Variables

$body-bg: #2ea9be;
$body-color: #fff;
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size: 1rem;
$font-weight: normal;
$line-height: 1.5;

// Layout

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $body-color;
  background-color: $body-bg;
}

#nav {
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
}

#container {
  display: grid;
  min-height: 100vh;
  place-content: center;
  text-align: center;

  a {
    color: #fff;
  }
}