{% assign filename = page.name | split: '.' | first -%}
{% assign t = site.data.locales[page.lang][filename] -%}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <title>{{ t.title }}</title>
</head>
<body>

  <div id="container">
    {% include nav.html %}
    {% include {{ page.name }} %}
  </div>

</body>
</html>